img{
    max-width: 100%;
    height: auto;
    display: circle;
    margin: 0 auto;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #eee7f0;
    padding: 0 20px;
}
#hero{
    text-align: center;
    margin: 20px 0;
    font-size: 2.5rem;
    color: #333;
}
#about {
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    text-align:center;
  
}

/* CV Download Section */
#cv {
    margin: 20px 0;
    text-align: center;
    box-shadow: blue;
    border-radius: 2px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


/* Contact Section */
#contact {
    margin: 20px 0;
    padding: 20px; 
    border-radius: 5px;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
#inquiry-form {
    margin: 20px 0;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contact-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#contact-icons i {
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 20px;
}

#contact-icons i:hover {
    background-color: #333;
    color: #fff;
}
/* Footer */
footer {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}